* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #000000;
}

.container {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
}

.navbar {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.navbar-header .navbar-logo {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

.navbar-header .navbar-logo span {
  color: rgb(118, 132, 255);
}

.navbar-links ul {
  display: flex;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.navbar-links ul li {
  padding: 12px 14px;
}

.navbar-links ul li a {
  color: rgb(218, 218, 218);
  font-weight: bold;
  font-size: 14px;
  transition: 0.4s;
}

.navbar-links ul li a:hover {
  color: rgb(112, 112, 255);
}

.banner {
  transition: 0.6s;
  background-image: url(../img/kaneki.gif);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  border-radius: 20px;
  height: 400px;
}

.banner-hatiralar {
  transition: 0.6s;
  background-image: url(../img/flowers.webp);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  border-radius: 20px;
  height: 400px;
}

.banner-hakkimda {
  transition: 0.6s;
  background-image: url(../img/gojo.webp);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  border-radius: 20px;
  height: 400px;
}

.banner-hakkimda:hover {
  background-size: 110%;
}

.banner:hover {
  background-size: 110%;
}

.banner-hatiralar:hover {
  background-size: 110%;
}

.text {
  color: #ffffff;
  user-select: none;
  font-weight: bold;
  width: 40%;
  padding: 20px;
  border-radius: 10px;
}

.text p,
.text h1 {
  position: relative;
  top: 90%;
  transform: translateY(-90%);
}

.social {
  margin-top: 20px;
  color: #fff;
  display: flex;
  column-gap: 10px;
}

.social-box {
  width: 33%;
  background-color: rgb(15, 15, 15);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  transition: 0.2s;
}

.social-box:hover {
  background-color: rgb(24, 24, 24);
}

.social-box .social-img img {
  width: 80%;
  height: auto;
}

.social-box .social-text {
  padding: 20px 0;
}

.social-box .social-text a {
  color: #fff;
  font-size: 24px;
  transition: 0.4s;
}

.social-box .social-text a:hover {
  color: rgb(112, 112, 255);
}

.hatiralar {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 40px;
}

.hatiralar .hatiralar-title {
  color: #fff;
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  background-color: rgb(15, 15, 15);
}

.hatiralar-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(595px, 1fr));
  gap: 10px;
  gap: 10px;
  margin-top: 20px;
}

.hatiralar-content .box1 {
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
}

.hatiralar-content .box1 img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: 0.2s linear;
  object-fit: cover;
}

.hatiralar-content .box1:hover img {
  transform: scale(1.1);
}

.zoom-hatiralar {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}

.zoom-hatiralar span {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 40px;
  font-size: 40px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
}

.zoom-hatiralar img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 750px;
  max-height: 750px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #fff;
}

.hakkimda-content {
  color: #fff;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-size: 30px;
}

@media only screen and (max-width: 1400px) {
  .hatiralar-content {
    grid-template-columns: repeat(auto-fill, minmax(495px, 1fr));
  }

  .container {
    max-width: 1000px;
  }
}

@media only screen and (max-width: 1200px) {
  .hatiralar-content {
    grid-template-columns: repeat(auto-fill, minmax(395px, 1fr));
  }

  .hatiralar-content .box1 {
    height: 395px;
  }

  .container {
    max-width: 800px;
  }

  .text {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1000px) {
  .zoom-hatiralar img {
    max-width: 600px;
    max-height: 600px;
  }

  .hatiralar-content {
    grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
  }

  .hatiralar-content .box1 {
    height: 295px;
  }

  .container {
    max-width: 600px;
  }

  .banner,
  .banner-hakkimda,
  .banner-hatiralar {
    height: 300px;
  }

  .text {
    font-size: 9px;
  }
}

@media only screen and (max-width: 700px) {
  .zoom-hatiralar img {
    max-width: 500px;
    max-height: 500px;
  }

  .hatiralar-content {
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
  }

  .hatiralar-content .box1 {
    height: 245px;
  }

  .container {
    max-width: 500px;
  }

  .banner,
  .banner-hakkimda,
  .banner-hatiralar {
    height: 250px;
  }

  .navbar-logo {
    font-size: 28px;
  }

  .text {
    width: auto;
  }

  .social-box .social-text a {
    font-size: 16px;
  }

  .navbar-links ul li {
    padding: 12px 10px;
  }

  .navbar-links ul li a {
    font-size: 12px;
  }
}

@media only screen and (max-width: 550px) {
  .zoom-hatiralar img {
    max-width: 450px;
    max-height: 450px;
  }

  .hatiralar-content {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }

  .hatiralar-content .box1 {
    height: 220px;
  }

  .container {
    max-width: 450px;
  }

  .banner,
  .banner-hakkimda,
  .banner-hatiralar {
    height: 220px;
  }

  .navbar-logo {
    font-size: 26px;
  }

  .text {
    font-size: 8px;
  }

  .social-box .social-text a {
    font-size: 16px;
  }

  .navbar-links ul li {
    padding: 12px 8px;
  }

  .navbar-links ul li a {
    font-size: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .zoom-hatiralar img {
    max-width: 400px;
    max-height: 400px;
  }

  .hatiralar-content {
    grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));
  }

  .hatiralar-content .box1 {
    height: 195px;
  }

  .container {
    max-width: 400px;
  }

  .banner,
  .banner-hakkimda,
  .banner-hatiralar {
    height: 200px;
  }

  .text {
    font-size: 7px;
    width: auto;
  }

  .navbar-logo {
    font-size: 20px;
  }

  .social-box .social-text a {
    font-size: 14px;
  }

  .navbar-links ul li {
    padding: 12px 8px;
  }

  .navbar-links ul li a {
    font-size: 10px;
  }
}

@media only screen and (max-width: 450px) {
  .zoom-hatiralar img {
    max-width: 350px;
    max-height: 350px;
  }

  .hatiralar-content {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  }

  .hatiralar-content .box1 {
    height: 170px;
  }

  .container {
    max-width: 350px;
  }

  .banner,
  .banner-hakkimda,
  .banner-hatiralar {
    height: 180px;
  }

  .text {
    font-size: 5px;
  }

  .navbar-logo {
    font-size: 18px;
  }

  .social-box .social-text a {
    font-size: 12px;
  }

  .navbar-links ul li {
    padding: 12px 8px;
  }

  .navbar-links ul li a {
    font-size: 9px;
  }
}

@media only screen and (max-width: 400px) {
  .zoom-hatiralar img {
    max-width: 300px;
    max-height: 300px;
  }

  .hatiralar-content {
    grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
  }

  .hatiralar-content .box1 {
    height: 145px;
  }

  .container {
    max-width: 300px;
  }

  .banner,
  .banner-hakkimda,
  .banner-hatiralar {
    height: 150px;
  }

  .text {
    font-size: 4px;
  }

  .navbar-logo {
    font-size: 16px;
  }

  .social-box .social-text a {
    font-size: 12px;
  }

  .navbar-links ul li {
    padding: 12px 6px;
  }

  .navbar-links ul li a {
    font-size: 9px;
  }
}

@media only screen and (max-width: 350px) {
  .zoom-hatiralar img {
    max-width: 250px;
    max-height: 250px;
  }

  .hatiralar-content {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }

  .hatiralar-content .box1 {
    height: 120px;
  }

  .container {
    max-width: 250px;
  }

  .banner,
  .banner-hakkimda,
  .banner-hatiralar {
    height: 150px;
    width: 250px;
  }

  .text {
    font-size: 4px;
  }

  .navbar-logo {
    font-size: 14px;
  }

  .social {
    column-gap: 7px;
    margin-top: 5px;
  }

  .social-box .social-text {
    padding: 5px 0;
  }

  .social-box .social-text a {
    font-size: 9px;
  }

  .navbar-links ul li {
    padding: 0 5px;
  }

  .navbar-links ul li a {
    font-size: 7px;
  }
}
